body {
	font-family: "Verdana";
	color: white;
/*	background-color: #3d3d3d; */
	background-color:whitesmoke ;
}

h1 {
	font-family: "Verdana";
	color:gray ;
text-align: center;
}
a {
	text-decoration: none;
}
.links{
	text-decoration: none;
	color: blue;
	font-size:40px;
	font-weight:700;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 10px;
}
.grid>div {
	border: 3px solid ;
	border-radius: 10%;
	padding: 10px;
	background-color: lightskyblue;
	border-color: lightseagreen;
}
.grid>div>a {
	padding: 10px;
}
a {
	color: aliceblue;
}

hr{
	
}
#meny {
	left: calc( 50%);
	position: relative;
	top: -16px;
	width: 100%;
	list-style: none;
	padding: 10px;
	background-color: aliceblue;
	color: lightseagreen;
}

#meny li {
	display:block;
	width:120px;
	height: 1em;
	padding: 2px;
	float:left;
	margin-left:2px;
	border:1px solid gray;
	background-color: lightskyblue;
}