header h1{
    text-align: center;
    color: blue
}
main{
    height:70vh;
}

header{
    height: 10vh
}

footer{
    height: 10vh
}
#verden {
    height: 70vh
}
#himmel{
    position: relative;
    height: 80%;
    background-color: skyblue;
}
#jord{
    position: relative;
    height: 20%;
    background-color: brown;
}

#sol {
    position: absolute;
    top: 120px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-color: yellow;
    border-radius: 50%;
    animation: flimmer 2s infinite alternate;
}
@keyframes flimmer{
    100% {width: 70px;height: 70px;}
}

#person {
    position: absolute;
    left: 60px;
    bottom: 30px;
    height: 112px;
    width: 112px;
    background-image: url(puppet.png);
    background-position-x: 0px;
    background-position-y: calc(-112px * 2);
    animation: walk 2s steps(8) infinite, slide 100s linear;
    } 

    @keyframes slide {
        100% { left:110vw }
    }
    @keyframes walk {
        100% {background-position-x: calc( -112px * 8 )};
    }

    #kaktus1{
        position: absolute;
        left: 60px;
        bottom: 70px;
        height: 240px;
        width: 70px;
        background-image: url(467487_preview.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
     #kaktus2{
        position: absolute;
        right: 70px;
        bottom: 20px;
        height: 200px;
        width: 120px;
        background-image: url(cactus.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    #skeleton{
        position: absolute;
        right: 300px;
        bottom: 20px;
        height: 200px;
        width: 60px;
        background-image: url(skeleton.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }